<!DOCTYPE html>
<html>
  <head>
    <title>Plot or not</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

  <style type="text/css">
    span {
    color:rgb(222, 45, 38);
    }

    a {
    margin-left: auto;
    margin-right: auto;
    }

  </style>

  <body>
    <div class="container">
      <div class="span12">
        <div class="hero-unit">
          <h1> Plot Or <span>Not<span></h1>
        </div>

        <div class="row">
          <div class="plot span6">
            <p>
            <img src="data:image/png;base64,{{image_1}}" />
            </P>
            <p>
              <form action="/vote/0" method="post">
                <input type="hidden" name="left" value="{{style_1}}">
                <input type="hidden" name="right" value="{{style_2}}">
                <button class="btn btn-success" href="/" type='submit'>Left
                </button>
              </form>
            </p>
          </div>

          <div class="plot span6">
            <p>
            <img src="data:image/png;base64,{{image_2}}" />
            </p>
            <p>
              <form action="/vote/1" method="post">
                <input type="hidden" name="left" value="{{style_1}}">
                <input type="hidden" name="right" value="{{style_2}}">
                <button class="btn btn-success" href="/" type='submit'>Right
                </button>
              </form>
            </p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
